name: heineken_mmm
channels:
  - conda-forge
dependencies:
  - python=3.11
  - pandas
  - numpy
  - matplotlib
  - scikit-learn
  - statsmodels
  - seaborn
  - scipy
  - jupyter
  - ipykernel
  - requests
  - pip